<div class="form-field">
    <label for="ai1ec_image_field_id">
        {{ section_name }}
    </label>

    <input type="hidden" name="ai1ec_category_image_url" id="ai1ec_category_image_url" value="">
    <input class="button at-upload_image_button" type="button" id='ai1ec_category_image_uploader' value="{{ label }}">

    <div class="desc-field">
        <p class="description">
            {{ description }}
        </p>
    </div>
</div>
