<label for="{{ id }}">
{% from 'form-elements/input.twig' import input %}
{{ input( id, id, 1, 'checkbox', attributes ) }}
	{{ renderer.label | raw }}
	{% if renderer.help is defined %}
	<div class="help-block">
		{{ renderer.help | raw }}
	</div>
	{% endif %}
</label>
