<label class="textinput" for="{{ id }}">
	{% autoescape false %}
	{{ label }}
	{% endautoescape %}
</label>
{% from 'form-elements/select.twig' import select %}
{% if name is not defined %}
  {% set name = id %}
{% endif %}
{{ select( id, name, attributes, options ) }}
