<div class="ai1ec-default-filters ai1ec-clearfix">
	<label class="textinput">
	{{ label }}
		<div class="ai1ec-help-block">
		{{ help | raw }}
		</div>
	</label>
	<div class="ai1ec-pull-left">
		{% if categories is defined %}
			<div class="ai1ec-pull-left">
				{{ categories | raw }}
			</div>
		{% endif %}
		{% if tags is defined %}
			<div class="ai1ec-pull-left">
				{{ tags | raw }}
			</div>
		{% endif %}
	</div>
</div>
