<div class="timely ai1ec-excerpt">
	<div class="ai1ec-time">
		<strong>{{ 'When:'|__}}</strong>
		{{ event|timespan }}
	</div>
	{% if location is not empty %}
		<div class="ai1ec-location">
			<strong>{{ 'Where:'|__ }}</strong>
			{{ location }}
		</div>
	{% endif %}
</div>
