<div class="blogname-container clearfix">
    <label class="textinput" for="blogname">{{ site_title }}:</label>
    <div class="pull-left">
        <input name="blogname" type="text" id="blogname" value="{{ blog_name }}" class="regular-text" />
    </div>
</div>
