*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/public/js/build.txt
/public/js_cache/**

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDTspecific
.cproject

# PDTspecific
.buildpath

.DS_Store

/app/config/constantslocal.php
/app/public/js/build.txt
/lib/bootstrap/loadermap.php
/public/themesai1ec/umbra/less.sha1.map.php
/public/themesai1ec/umbra/css/ai1ec_parsed_css.css
/public/themesai1ec/gamma/less.sha1.map.php
/public/themesai1ec/gamma/css/ai1ec_parsed_css.css
/public/themesai1ec/plana/less.sha1.map.php
/public/themesai1ec/plana/css/ai1ec_parsed_css.css
/public/themesai1ec/vortex/less.sha1.map.php
/public/themesai1ec/vortex/css/ai1ec_parsed_css.css