@CHARSET "UTF-8";

.column-1-ai1ec {
    float: left;
    width: 54%;
}
.column-2-ai1ec {
    float: right;
    width: 45%;
}
.column-3-ai1ec {
    float: left;
    width: 100%;
}
#ai1ec-general-settings label, #ai1ec-plugins-settings label {
    clear: left;
    float: left;
    margin: 0.25em 0;
}
#ai1ec-general-settings label.textinput, #ai1ec-plugins-settings label.textinput {
    width: 230px;
}
#ai1ec-general-settings h2, #ai1ec-plugins-settings h2 {
    margin: 5px 0;
    padding: 0;
}
.timely p.submit {
    padding: 0;
}
#ai1ec_save_settings {
    clear: left;
    display: block;
}
.tab-content.ai1ec-boxed-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 8px 10px;
}
.ai1ec-plugin-branding div.inside {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 !important;
    padding: 6px 12px 8px;
}
.ai1ec-plugin-branding h2 {
    font-size: 20px !important;
    line-height: 28px !important;
}
.ai1ec-plugin-branding .timely-logo a {
    background: url("../img/timely-logo.png") no-repeat scroll center center transparent;
    display: block;
    height: 140px;
}
.ai1ec-plugin-branding .ai1ec-follow-fan {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin: 5px 0 15px;
    padding: 10px 0 6px;
}
.ai1ec-plugin-branding .ai1ec-facebook-like-top {
    float: left;
}
.ai1ec-plugin-branding a.btn, .ai1ec-plugin-branding a.btn:hover {
    text-decoration: none;
}
.ai1ec-plugin-branding .ai1ec-get-support {
    text-align: center;
}
.ai1ec-plugin-branding .ai1ec-get-support a.btn {
    font-size: 20px;
}
.ai1ec-admin-view-settings {
    margin: 0 0 0.75em;
}
.ai1ec-admin-view-settings label {
    width: 144px;
}
.ai1ec-admin-view-settings table {
    width: 200px;
}
.ai1ec-admin-view-settings td:first-child {
    text-align: right;
}
.ai1ec-control-table-column {
    padding-left: 15px;
}
.timely .ai1ec-default-filters select {
    margin-right: 10px;
    width: 160px;
}
#ai1ec-general-settings .ai1ec-default-filters div label {
    clear: none;
    float: none;
}
#exact_date {
    background: url("../img/date-field-icon.png") no-repeat scroll 95% 40% transparent;
    width: 110px;
}
#show_front_end_create_form, #allow_anonymous_submissions, #allow_anonymous_uploads {
    margin-left: 17px;
}
.ai1ec-recaptcha-settings {
    padding-left: 33px;
}
.ai1ec_feed_h4 {
    margin-bottom: 5px;
}
#ai1ec_feed_url, .timely .ai1ec-feed-url {
    width: 100%;
}
.ai1ec-feed-category, .ai1ec-feed-tags, .ai1ec-feed-comments-enabled {
    float: left;
    line-height: 2em;
    overflow: hidden;
}
.ai1ec-feed-category, .ai1ec-feed-tags {
    margin-right: 0.5em;
}
.ai1ec-feed-category strong, .ai1ec-feed-tags strong {
    margin: 0 1em 0 0.2em;
}
#ai1ec_feed_category, #ai1ec_feed_tags {
    width: 15em;
}
.ai1ec-feed-container {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin: 1em 0 0;
    overflow: hidden;
    padding: 0.3em 0.5em;
    position: relative;
}
.ai1ec-feed-container .ajax-loading {
    clear: left;
    display: block;
}
.ai1ec_feed_h4 {
    margin: 0.5em 0;
}
#ai1ec_add_new_ics, .ai1ec_delete_ics {
    clear: left;
}
#ai1ec_add_new_ics, .ai1ec_delete_ics, .ai1ec_update_ics, .ai1ec_flush_ics {
    float: right;
}
#ai1ec-blog-feed-container article {
    margin: 8px 0;
}
#ai1ec-blog-feed-container header {
    display: inline;
}
#ai1ec-less-variables-tabs {
    background: none repeat scroll 0 0 #FFFFFF;
}
#ai1ec-less-variables-tabs .inside {
    margin: 10px 0;
}
#ai1ec-less-variables-tabs .form-horizontal .control-label {
    width: 180px;
}
#ai1ec-less-variables-tabs .form-horizontal .controls {
    margin-left: 200px;
}
