{% extends "base_page.twig" %} 
{% block layout %}
<div class="post-box-container left-side timely">
	{% if no_file_cache %}
		{{ no_file_cache }}
	{% else %}
		{{ do_meta_boxes( metabox.screen, metabox.action, metabox.object ) }}
	{% endif %}
</div>
{% endblock %}
