<div class="btn-group">
    <a id="ai1ec-agenda-collapse-all" class="btn btn-mini">
        <i class="icon-minus-sign"></i> {{ 'Collapse All' | __ }}
    </a>
    <a id="ai1ec-agenda-expand-all" class="btn btn-mini">
        <i class="icon-plus-sign"></i> {{ 'Expand All' | __ }}
    </a>
</div><div class="btn-group">
    <a id="ai1ec-print-button" href="#" class="btn">
        <i class="icon-print"></i>
    </a>
</div>