<a 
	class="ai1ec-minical-trigger btn"
	{% for attribute, value in attributes %}
		{{ attribute }}="{{ value }}"
	{% endfor %}
	{% autoescape false %}
	{{ data_type }}
	{% endautoescape %}
	>
	<img src="{{ icon_url }}" class="ai1ec-icon-datepicker" alt="datepicker" />
</a>