<div class="timely ai1ec-excerpt">
	<div class="ai1ec-time">
		<strong>When:</strong> {{ timespan_html }}
	</div>
	{% if location %}
		<div class="ai1ec-location">
			<strong>Where:</strong> {{ location }}
		</div>
	{% endif %}
</div>
