{% if hide_maps_until_clicked %}
  <div class="ai1ec-gmap-placeholder"><strong><i class="icon-map-marker"></i>
  {{ 'Click to view map' | __ }}</strong></div>
{% endif %}
<div class="ai1ec-gmap-container
  {% if hide_maps_until_clicked %}ai1ec-gmap-container-hidden{% endif %}">
	<div id="ai1ec-gmap-canvas"></div>
	<input type="hidden" id="ai1ec-gmap-address"
    value="{{ address | e('html_attr') }}" />
	<a class="ai1ec-gmap-link btn btn-mini"
		href="{{ gmap_url_link | e('html_attr') }}" target="_blank">
		{{ 'View Full-Size Map' | __ }} <i class="icon-arrow-right"></i>
	</a>
</div>
