{% autoescape false %}
<div class="timely">
	<div class="ai1ec-calendar-toolbar clearfix">
		<ul class="nav nav-pills pull-left">{{ views_dropdown }}</ul>
			<ul class="nav nav-pills pull-left ai1ec-filters">
					{{ categories }}
					{{ tags }}
			</ul>
	</div><!-- /.ai1ec-calendar-toolbar -->
</div>
{% endautoescape %}