{% autoescape false %}
<div class="clearfix">
	<h2 class="ai1ec-calendar-title">{{ title|e }}</h2>
	<div class="ai1ec-title-buttons btn-toolbar pull-right">
		{% if before_pagination is defined %}{{ before_pagination }}{% endif %}
		{{ pagination_links }}
		{% if after_pagination is defined %}{{ after_pagination }}{% endif %}
	</div>
</div>
{% endautoescape %}
