<footer class="ai1ec-event-footer">
	{% if event.ical_feed_url is not empty %}
		<p class="ai1ec-source-link">
			{{ 'This post was replicated from another site’s <a class="ai1ec-ics-icon" href="%s" title="iCalendar feed">calendar feed</a>.'
				|__
				|format(
					event.ical_feed_url
					|replace( {'http://': 'webcal://'} )
					|e('html_attr')
				)
			}}
			{% if event.ical_source_url is not empty %}
				<a href="{{ event.ical_source_url|e('html_attr') }}" target="_blank">
					{{ 'View original post'|__ }}
          <i class="icon-external-link"></i>
				</a>
			{% endif %}
		</p>
	{% endif %}
</footer>
