<div class="clearfix">
	<h2 class="ai1ec-calendar-title">{{ title|e }}</h2>
	<div class="ai1ec-title-buttons btn-toolbar pull-right">
		{{ before_pagination }}
		{{ pagination_links }}
	</div>
</div>
